.btn{
    border-radius: 0;
}

.navbar-default {
    background-color: #f1c40f;
    border:0;
    border-bottom: 1px solid #e67e22;
}
.navbar{
    border-radius: 0;
    margin-bottom: 0;
}
.navbar-brand{
    padding: 1px 1px;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #fff !important;
    background-color: #f39c12;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #fff;
    background-color: #f39c12;

}

.navbar-default .navbar-brand {
    color: #ffffff;
    background-color: #e67e22;
}
.navbar-default .navbar-brand:hover{
    color: #ffffff;
    background-color: #e67e22;
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
}
header{
    
    background: url('../img/portada.jpg');
    height: 400px;
}
header>.header-wrap{	
    height: 400px;
    padding: 9em 0;
    background-color: rgba(241, 196, 15, 0.58);
}
main{
    padding: 0em 0;
}
.title-portada{
	color: black;
    font-size: 5em;
}	

footer{
    background: url('../img/portada.jpg');
    background-position: center;
    
}
.color-white{
    color: white;    
}

.color-black{
    color: black;    
}
.color-black{
    color: black;    
}
.footer-inside{
    
    padding: 3em 0;
    background-color: rgba(241, 196, 15, 0.58);
}    
.sub-footer{

    background-color: #e67e22;
    padding: 8px 0;
    color: black;

}
.subtitle-footer{
    /*background-color: #e67e22;
    padding: 8px 15px;*/
    border-bottom: 3px solid #e67e22;
}    

.img-link{
    height: 196px;
}   
.img-link-self{
    height: 196px;
    background-color: rgba(0, 0, 0, 0.58);
    text-align: center;
    padding: 1.5em 1em;
    font-size: 1.3em;
    display: none;
    color: white;
    cursor: pointer;
}
.link-receta{
    background-color: rgba(0, 0, 0, 0.7);

    padding-top: 6px;
    padding-right: 6px;
    padding-left: 6px;
    padding-bottom: 3px;
 }

.contenido-word{
    font-size: 1.1em;
    font-family: 'Raleway', sans-serif;
} 

.recetario-referencia{
    background-color: #f1f0f0;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    padding: 0.5em 0.7em 0.4em 0.7em;
    font-size: 1.1em;
} 
.img-responsive:hover{
    cursor: pointer;
} 
.extras{
    background-color: #f1c40f;
    padding: 1em;
    color: #a94f00;
    font-size: 1.2em;
}

.panel-footer {
    padding: 10px 15px;
    background-color: #f5f5f5;
    border-top: 5px solid #d4d3d1; 
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.panel-body {
    padding: 0px;
}

.panel {
    margin-bottom: 0px;
    background-color: #fff;
    border: 0px solid transparent;
    border-radius: 0px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.section-all,
.section-phrase{
    padding: 3em 0;
}

.section-phrase{
    
    
    padding: 3em 0;
    background-color: rgba(255, 255, 255, 0.9);
}
.section-wrap{
    background: url('../img/portada.jpg');
    
}